body{
    font-family: 'Open Sans Condensed';
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: bold;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

  ::-webkit-scrollbar-track {
    background: #fff; 
}

::-webkit-scrollbar-thumb {
    background: #fff; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}