.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    @media (max-width:1110px){
      width: 30%;
      &:nth-last-child(-n+1){
        display: none;
      }
    }
    @media (max-width:880px){
      margin: 0 auto;
      width: 45%;
      &:nth-last-child(-n+2){
        display: none;
      }
    }

    @media (max-width:580px){
      margin: 0 auto;
      width: 90%;
      &:nth-last-child(-n+3){
        display: none;
      }
    }
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }
  