body{
    font-family: 'Open Sans Condensed';
}

a{
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

  ::-webkit-scrollbar-track {
    background: #888; 
}

::-webkit-scrollbar-thumb {
    background: #555; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}